[global_config]
[keybindings]
  next_tab = <Primary><Shift>l
  prev_tab = <Primary><Shift>h
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    font = Monospace 14
    icon_bell = False
    palette = "#000000:#aa0000:#00aa00:#aa5500:#0000aa:#aa00aa:#00aaaa:#aaaaaa:#555555:#ff5555:#55ff55:#ffff55:#5555ff:#ff55ff:#55ffff:#ffffff"
    show_titlebar = False
    use_system_font = False
